<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.aihub.mapper.CoursesMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.aihub.entity.Courses">
        <result column="id" property="id" />
        <result column="deleted" property="deleted" />
        <result column="title" property="title" />
        <result column="description" property="description" />
        <result column="teacher_id" property="teacherId" />
        <result column="file_path" property="filePath" />
        <result column="file_hash" property="fileHash" />
        <result column="file_updated_at" property="fileUpdatedAt" />
        <result column="parse_status" property="parseStatus" />
        <result column="parsed_at" property="parsedAt" />
        <result column="chapter_count" property="chapterCount" />
        <result column="created_at" property="createdAt" />
        <result column="updated_at" property="updatedAt" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        deleted,
        title, description, teacher_id, file_path, file_hash, file_updated_at, parse_status, parsed_at, chapter_count, created_at, updated_at
    </sql>

</mapper>
